/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #bcbcbcdc;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.top_navbar{
	position: relative;
}
.wrapper .section .top_navbar{
	background: rgb(249, 248, 248);
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0px 30px;
 
}

/* CAJA VISTA */

.caja{
    margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	flex: 1;
}

.container-p{
	position: relative;
	width: 100%;
	background-color: #ffffff;
	height: 89%;
	border-radius: 10px;
	max-width: 900px;
	margin-top: 1rem;
    margin-bottom: 1.5rem;
}

  /*  */
  .main-buscar-datagrid{
	margin: 30px auto;
	padding:50px 12px 40px 12px;
	width: 100%;
	height: 90%;
	display: grid;
	grid-template-columns: minmax(200px,380px) !important;
	grid-template-rows: 10% 20% 1fr;
	place-content: center;
}
img{
	width: 120px;
	margin: auto;
}

.form-control{
    background-color: rgba(236, 239, 239, 0.359)!important;
}


  @media screen and (max-height: 694px) {
    .main-buscar-datagrid{
		grid-template-rows: 10% 0.5fr;
       
    }
   
	.controls input,select{
		height: 30px !important;
	}
	.controls-main{
		margin: auto;
	}
  }



